@media (max-width: 575px) {
  .hero-img img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-img img {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .btn-mail-me {
    margin-bottom: 7px;
  }
}
